/* ============================================================
  RESET - http://meyerweb.com/eric/tools/css/reset/
============================================================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style-type:circle;
  padding-left: 5vh;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

figcaption{
  text-align: center;
  padding-bottom: 10px;

}


/* ============================================================
  BOX SIZING & CLEARFIX
============================================================ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ============================================================
  HTML & BODY
============================================================ */
body {
  background-color: #b4b4b4;
  color: #787878;
  font-family: "Cantarell", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

main {
  display: block;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}


.centered{
  transform: translateY(75%);
}

.lowered{
  transform:translateY(200%);
}
.halfwidth{
  width: 50%;
}
.highered{
  transform:translateY(-25%);
}

/* ============================================================
  TEXT LEVEL SEMANTICS
============================================================ */
a {
  text-decoration: none;
  color: #b4b4b4;
}

a:hover {
  color: #818181;
}


/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h1{
  font-family:"Cantarell", serif;
  font-size:40px;

  padding-top:20px;

}
section.module h2 {
  font-family: "Cantarell", serif;
  font-size: 30px;

}
section.module p {
  font-family: "Cantarell", serif, Arial;

  font-size: 16px;
  font-weight: 300;

}
section.module li {
  font-family:"Cantarell",serif;
  font-size: 16px;
}

section.module ul{
  padding-top: 10px;
  padding-bottom:5px;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;

}

section.module.parallax {
  height: cover;  

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax.fill{
  height: 100vh;
}
 section.module.parallax.partialfill{
  height: 80vh;
 }
section.module.parallax.olderpostfill{
  height: 20vh;
}
section.module.parallax h1 {
  color: rgb(255, 255, 255);
  font-family: serif;
  font-size: 148px;
  font-weight: 500;
  padding-top: 10vh;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax h3 {
  color: rgb(255, 255, 255);
  font-family: serif;
  font-size: 40px;
  font-weight: 500;

  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax a{
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax p{
  text-align: center;
  
}

section.module.parallax h2{
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-4{
  background: #14abaa
}
section.module.parallax-2{
  background-image: url(http://i.imgur.com/q4pqETv.jpg);
}
}
section.module.labg{
  background-image: url(http://i.imgur.com/q4pqETv.jpg);
}

section.module.mainbg{
  background-image: url(http://i.imgur.com/tR6F7M4.jpg);
}
section.module.londonbg{
  background-image: url(http://i.imgur.com/isOGGQV.jpg);
}
section.module.lpbg{
background-image: url(http://i.imgur.com/XSWjYLm.jpg);
}

section.module.niceday1bg{
  background-image: url(http://i.imgur.com/qlHpnPQ.jpg);
}

section.module.niceday2bg{
  background-image: url(http://i.imgur.com/XzjlKtM.jpg);
}

section.module.bigben{
  background-image: url(http://i.imgur.com/gjui5fF.jpg);
}

section.module.books{
  background-image: url(http://i.imgur.com/gbp3Qcq.jpg);
}

section.module.map{
  background-image: url(http://i.imgur.com/oiEVL1v.jpg);
}

section.module.airbnbjen{
  background-image: url(http://i.imgur.com/AYqR20p.jpg);
}
@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {

    font-size: 80px;
  }
}

